<div class="container mt-4">
  <h2 class="titulo">Gestión de Tratamientos - Veterinario</h2>

  <!-- Formulario -->
  <form [formGroup]="form" (ngSubmit)="crearTratamiento()" class="formulario">
    <div class="form-group">
      <label>ID Mascota</label>
      <input type="number" class="form-control" formControlName="idMascota" />
    </div>

    <div class="form-group">
      <label>Tipo</label>
      <select class="form-control" formControlName="tipo">
        <option value="vacuna">Vacuna</option>
        <option value="desparasitación">Desparasitación</option>
        <option value="cirugía">Cirugía</option>
        <option value="otro">Otro</option>
      </select>
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control" formControlName="descripcion"></textarea>
    </div>

    <div class="form-group">
      <label>Fecha</label>
      <input type="date" class="form-control" formControlName="fecha" />
    </div>

    <div class="form-group">
      <label>ID Veterinario</label>
      <input type="number" class="form-control" formControlName="idVeterinario" />
    </div>

    <button type="submit" class="btn-main">Crear Tratamiento</button>

    <p class="error" *ngIf="mensajeError">{{ mensajeError }}</p>
  </form>

  <!-- Tabla -->
  <h3 class="subtitulo">Tratamientos registrados</h3>

  <table class="table-custom">
    <thead>
      <tr>
        <!-- <th>ID</th>
        <th>ID Mascota</th> -->
        <th>Nombre Mascota</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Veterinario</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of tratamientos">
        <!-- <td>{{ t.idTratamiento }}</td>
        <td>{{ t.mascota.idMascota }}</td> -->
        <td>{{ t.mascota.nombre }}</td>
        <td>{{ t.tipo }}</td>
        <td>{{ t.descripcion }}</td>
        <td>{{ t.fecha }}</td>
        <td>{{ t.veterinario }}</td>
      </tr>
    </tbody>
  </table>
</div>
