<nav class="navbar">
  <div class="nav-container">
    <div class="logo">🐾 Protectora Animal</div>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <ul class="nav-list" [class.open]="menuOpen">

      <!-- Sección pública -->
      <li routerLinkActive="active-item" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/catalogo">Adoptados</a>
      </li>

      <li routerLinkActive="active-item" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/mascotas/en-adopcion"> En adopción</a>
      </li>
     <!-- Sección voluntario -->
      <li *appHasRole="'voluntario'" routerLinkActive="active-item" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/donacion"> Donaciones </a>
      </li>
     <!-- Sección Adoptante -->
      <li *appHasRole="'adoptante'" routerLinkActive="active-item" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/tratamientos">Tratamientos</a>        
      </li>
      <li *appHasRole="'adoptante'" routerLinkActive="active-item" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/adopciones">Mascotas Adoptadas</a>        
      </li>


      <!-- Desplegable de gestión interna -->
      <li class="dropdown" *appHasRole="['administrador','empleado']">
        <a (click)="toggleDropdown('gestion')">Gestión Interna ▾</a>
        <ul class="dropdown-menu" [class.show]="dropdowns.gestion">
          <li *appHasRole="'administrador'" routerLinkActive="active-item">
            <a routerLink="/empleados">Empleados</a>
          </li>
          <li *appHasRole="'administrador'" routerLinkActive="active-item">
            <a routerLink="/usuarios">Usuarios</a>
          </li>
          <li routerLinkActive="active-item">
            <a routerLink="/seguimientos">Seguimientos</a>
          </li>
          <li routerLinkActive="active-item">
            <a routerLink="/tareas">Tareas</a>
          </li>
          <li routerLinkActive="active-item">
            <a routerLink="/tratamiento">Tratamientos</a>
          </li>
          <li routerLinkActive="active-item">
            <a routerLink="/turnos">Turnos</a>
          </li>
        </ul>
      </li>

      <!-- Solo admin -->
      <li *appHasRole="'administrador'" routerLinkActive="active-item">
        <a routerLink="/usuarios">Usuarios</a>
      </li>

      <!-- Perfil (por ejemplo, administrador o usuario logueado) -->
      <li *appHasRole="'ADMIN'" routerLinkActive="active-item">
        <a routerLink="/perfil">Perfil</a>
      </li>

      <!-- Usuario logueado -->
      <li class="user-item" *ngIf="username">
        <span>👋 Hola, {{ username }}</span>
      </li>

      <!-- Login / Logout -->
      <li class="logout-item" *ngIf="authService.isAuthenticated()">
        <a (click)="logout()" class="logout-link">Cerrar sesión</a>
      </li>
      <li class="logout-item" *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login" class="login-link">Iniciar sesión</a>
      </li>
    </ul>
  </div>
</nav>
